 <div class="user-details">
  <h1> Professional Summary </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Creativity accompanied with design is key. 
        I update myself to ensure that I can come 
        up with great user experience design.</p>
    </div>
    <div class="tech">
      <h2>Programming Languages</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-cplusplus-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-arduino-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-r-plain colored"></i>
      
      <p>These are the langues am conversant with for most of 
        Development projects, Geospatial analysis, and other tasks.</p>
    </div>
    <div class="tech">
      <h2>Tools and Technologies</h2>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-vscode-plain-wordmark colored"></i>
      <i class="devicon-postgresql-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-tensorflow-original-wordmark colored"></i>
      <i class="devicon-django-plain-wordmark colored"></i>
      <p>I have pro knowledge about these tools and technologies 
        that I consistently use in my projects. The form part of my daily experience.</p>
    </div>
</div>
