<div class="user-details">
  <h1 style = "text-decoration:underline;"> Featured Projects </h1>
</div>
<div class="user-projects" id="projects">
  <div class="images-right">
    <img alt="autonomous farming" src="{{ "/assets/img/automated-farming.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Automated Soil Desalinator</h3>
    <div>
      <span style="color: darkslateblue;border-style: dotted;">GIS</span>
      <span style="margin-left: 5px ; color: darkslateblue; border-style: dotted;">Surveying</span>
      <span style="margin-left: 5px ; color: darkslateblue; border-style: dotted;">Robotics</span>
    </div>
    <p>This project is aimed at improving agricultural land that is saline 
      (has too much mineral salts). Such land cannot support growth of several crops thus the 
      need to lower salt level. Using GIS, we map the areas with such soil properties and 
      embed GIS system to platform(tractor and other farm ploughing equipment) and automatically 
      quantify amount of solution to be used. The system is automated using robotics technologies 
      and some few manual work can be performed.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Conceptual-crime.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Crime Alert System </h3>
    
    <div>
      <span style="color: darkslateblue;border-style: dotted;">Romote Sensing</span>
      <span style="margin-left: 5px ; color: darkslateblue; border-style: dotted;">Photogrametry</span>
      <span style="margin-left: 5px ; color: darkslateblue; border-style: dotted;">Drone Mapping</span>
      <span style="margin-left: 5px ; color: darkslateblue; border-style: dotted;">Surveying</span>
      <span style="margin-left: 5px ; color: darkslateblue; border-style: dotted;">Arduino programming</span>
    </div>
    <p>
      GIS system that consist of drones that are connected to several sensors within  
      a town, and crime hotspot areas. This system work in a way that whenever the 
      sensors records the programmed issues, a drone fly to the scene very fast 
      and record live as this is forwarded to the nearest security centre or police station. 
    </p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/best-websitedev.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Website Development</h3>
    <div>
      <span style="color: darkslateblue;border-style: dotted;">Python programming</span>
      <span style="margin-left: 5px ; color: darkslateblue; border-style: dotted;">Django</span>
      <span style="margin-left: 5px ; color: darkslateblue; border-style: dotted;">Database </span>
      <span style="margin-left: 5px ; color: darkslateblue; border-style: dotted;">Frontend Development</span>
      <span style="margin-left: 5px ; color: darkslateblue; border-style: dotted;">GIS Development </span>
    </div>
    <p>
      I have done few website development including Frontend and backend for several sites. Here is a list.
      <ul>
        <li><a href="https://jkuatagges.github.io/AggesWebsiteChallenge2021/" style="color: cadetblue;">JKUAT AGGES club website. Majorly Frontend development</a></li>
        <li><a href="https://hypertechstartup.studio/" style="color: cadetblue;">Hypertech Startup : Full stuck development</a></li>
        <li><a href="http://alfredamboka.me/" style="color: cadetblue;">This portfolio</a></li>
      </ul>
    </p>
    <a class="project-link" href="#">Check Complete List</a>
  </div>
</div>
