html {scroll-behavior:smooth;}
#scroll-to-top {background-color:rgba(19,20,25,.6); width:44px; height:40px; position:fixed; bottom:0; right:40px; border-radius:5px 5px 0 0; box-shadow:0 0 10px rgba(0,0,0,.2); text-align:center;}
#scroll-to-top i {color:#fff; font-size:22px; line-height:44px;}

/*about image  style - start*/

.hexagon {
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate(120deg);
       -moz-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(120deg);
            transform: rotate(120deg);
    cursor: pointer;
    }
.hexagon-in1 {
    -webkit-backface-visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }
.hexagon-in2 {
    -webkit-backface-visibility: hidden;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(https://github.com/alfredamboka/AlfredPorfolio/blob/main/assets/img/amboka.png);
    visibility: visible;
    -webkit-transform: rotate(-60deg);
       -moz-transform: rotate(-60deg);
        -ms-transform: rotate(120deg);
         -o-transform: rotate(-60deg);
            transform: rotate(-60deg);
    }
.hexagon-in2:hover {
    background-image: url(https://photos.google.com/photo/AF1QipN-lyFY9RK-nhV1YEeCTathMmkBVs8JBXl2IjEu);
    }

.hexagon1 {
    width: 400px;
    height: 200px;
    margin: 0 0 0 -80px;
    }
.hexagon2 {
    width: 200px;
    height: 400px;
    margin: -80px 0 0 20px;
/*about image  style - end*/

.features-clean {color:#313437; background-color:#fff; padding-bottom:30px;}
.features-clean p {color:#7d8285;}
.features-clean h2 {font-weight:700; margin-bottom:40px; padding-top:40px; color:inherit;}
.features-clean .intro {font-size:16px; max-width:500px; margin:0 auto 60px;}
.features-clean .item {min-height:100px; padding-left:80px; margin-bottom:40px;}
@media (max-width:767px) {
.features-clean {padding-bottom:10px;}
.features-clean h2 {margin-bottom:25px; padding-top:25px; font-size:24px;}
.features-clean .intro {margin-bottom:40px;}
.features-clean .item {min-height:0;}
}
.features-clean .item .name {font-size:20px; font-weight:700; margin-top:0; margin-bottom:20px; color:inherit;}
.features-clean .item .description {font-size:15px; margin-bottom:0;}
.features-clean .item .icon {font-size:40px; color:#1485ee; float:left; margin-left:-65px;}
#accordion-1 a:hover {text-decoration:none;}
#accordion-1 .card-header {padding:0; margin-bottom:0; border:none;}
#accordion-1 .card {border:none; margin-top:15px;}
#accordion-1 p {font-size:17px;}
#accordion-1 h5 {font-size:18px;}
@media (min-width:992px) {
#accordion-1 h5,#accordion-1 p {font-size:20px;}
}
#accordion-1 .panel-heading .panel-title>a {background-color:#d79640; border:none; color:#fff; display:block; font-family:Arial,Helvetica,sans-serif; line-height:28px; padding:15px 45px 15px 20px; word-wrap:break-word; border-radius:4px; transition:.3s;}
#accordion-1 .panel-heading .panel-title>a:hover {background-color:#c2873b; transition:.3s;}
#accordion-1 .panel-heading .panel-title>a::after {bottom:0; content:"▼"; font-family:Roboto,sans-serif; font-size:20px; font-weight:300; letter-spacing:-1px; line-height:57px; position:absolute; right:0; text-align:center; top:0; width:60px;}
#accordion-1 .panel-heading .panel-title>a.collapsed::after {content:"◄";}