html {
    scroll-behavior: smooth
}

#scroll-to-top {
    background-color: rgba(100, 35, 15, 0.6);
    width: 44px;
    height: 40px;
    position: fixed;
    bottom: 0;
    right: 40px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.11);
    text-align: center
}

#scroll-to-top i {
    color: rgb(5, 68, 128);
    font-size: 22px;
    line-height: 44px
}